* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Smythe", sans-serif;

  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
}

.header {
  background-image: url("./images/bg-img.png");
  background-size: cover;
  background-position: center;
  color: #ffffff;

  padding-top: 1.44em;
  padding-left: 1.44em;
  padding-right: 1.44em; /* 23px */
  padding-bottom: 2.188em;

  margin-bottom: 2em;
}

@media (min-width: 480px) {
  .header {
    padding-top: 2.875em;
    padding-left: 2.875em;
    padding-bottom: 4.375em;
  }
}

.header h1 {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: inherit;
  margin-bottom: 0.3em;
}
@media (min-width: 480px) {
  .header h1 {
    font-size: 2.44rem;
    margin-bottom: 0.49em;
  }
}

.header p {
  font-size: 0.7rem;
  line-height: 13.8px;
  letter-spacing: 1px;
}
@media (min-width: 480px) {
  .header p {
    font-size: 1.4rem;
    letter-spacing: 0.3px;
  }
}

.sub-container {
  padding-left: 1.44em; /* 23px */
  padding-right: 1.44em;

  padding-bottom: 2em; /* 32px */
}

@media (min-width: 480px) {
  .sub-container {
    padding-left: 2.875em; /* 46px */
    padding-right: 2.875em;

    padding-bottom: 3em;
  }
}

li {
  list-style: none;
  display: flex;
}

.item-list {
  gap: 31px;
  /* padding-bottom: 3.187em; */
  padding-bottom: 2em;
  border-bottom: 1px solid #d2d2d2;
  /* margin-bottom: 2.813em; 45px */
  margin-bottom: 2em;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-graphic {
  font-family: "Inter", sans-serif;
  /* line-height: 99px; */

  width: 70px;
  display: flex;
}
.item-graphic span {
  font-size: 3.5rem;
  margin: auto;
  width: 100%;
  text-align: center;
}
@media (min-width: 480px) {
  .item-graphic {
    font-size: 4.92rem; /* 78.72px */
  }
}

.item-details .name {
  font-size: 1.25rem; /* 20px */
  line-height: 16.8px;
}
@media (min-width: 480px) {
  .item-details .name {
    font-size: 1.75rem; /* 28px */
  }
}

.item-details .ingredients {
  font-size: 0.875rem;
  line-height: 20px;
  color: #8b8b8b;
  margin-top: auto;
}
@media (min-width: 480px) {
  .item-details .ingredients {
    font-size: 1rem;
    line-height: 24px;
  }
}

.item-details .price {
  font-size: 1.125rem;
  line-height: 24px;
  margin-top: auto;
}
@media (min-width: 480px) {
  .item-details .price {
    font-size: 1.25rem; /* 2opx */
  }
}

.add-btn {
  padding: 0.375em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1.5px solid #dedede;

  margin-left: auto;

  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  line-height: 20px;
  color: #3c3c3c;
  text-align: center;
}
.add-btn:hover,
.add-btn:focus {
  border: 1.5px solid #4f4e4e;
}

/* ==================== 
    Checkout section
=====================*/
.checkout-section {
  display: none;
}

.your-order {
  text-align: center;
  font-size: 1.75rem; /* 28px */
  line-height: 16.8px;
  margin-bottom: 1.5em;
  font-weight: 400;
}
.orders {
  border-bottom: 2px solid #393333;
}
.order {
  display: flex;
  gap: 13px;
  margin-bottom: 1.375em;
}
.order-name {
  font-size: 1.75rem; /* 28px */
  line-height: 16.8px;
  color: #000000;
  font-weight: 400;
}

.btn-remove {
  box-sizing: border-box;
  border: none;
  background: transparent;
  font-size: 0.75rem;
  line-height: 24px;
  letter-spacing: 1.5px;
  color: #bbbbbb;
  padding: 0.05em 0.2em;
}

.btn-remove:hover,
.btn-remove:focus {
  border-radius: 20px;
  color: #4e0404;
  border: 0.1px solid #bbbbbb;
}

.order-price {
  margin-left: auto;
}

.total {
  display: flex;
  margin-top: 0.875em;
  margin-bottom: 2.5em;
}
.total-price-text {
  color: #0e0e0e;
  font-weight: 400;
  font-size: 1.75rem; /* 28px */
  line-height: 24px;
}
.total-price {
  margin-left: auto;
}

.btn-primary {
  outline: none;
  border: none;
  width: 100%;
  background: #16db99;

  color: #ffffff;
  font-weight: 700;
  font-size: 1rem; /* 16px */
  line-height: 24px;
  border-radius: 3px;

  padding-top: 1.125em; /* 18px */
  padding-bottom: 1.125em;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-primary:hover,
.btn-primary:focus {
  background: #079d6b;
}

/* ===================
    Card details modal
====================*/
.modal-card-section {
  display: none;

  font-family: "Inter", sans-serif;

  width: 93%;
  max-width: 524px;
  border-radius: 4px;

  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.4);

  position: fixed;
  top: 150px;
  right: 0;
  left: 0;
  margin: auto;

  padding-left: 1.5em; /* 24px */
  padding-right: 1.5em;

  padding-top: 2em; /* 47px */
  padding-bottom: 1.813em; /* 29px */

  background: white;
}

.card-details-text {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 700;
  line-height: 31.12px;
  letter-spacing: 1px;
  text-align: center;

  margin-bottom: 46px;
}

input {
  width: 100%;
  outline: none;

  /* font-family: "Inter", sans-serif; */
  font-size: 1.25rem; /* 20px */
  line-height: 31.12px;
  color: #757575;

  border: 1.3px solid #757575;
  border-radius: 4px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 16px;

  margin-bottom: 23px;
}
input:hover,
input:focus {
  border: 2px solid #079d6b;
}

.input-cvv {
  margin-bottom: 40px;
}

/*===============
    Thank you section
=================*/

.thank-you-message {
  display: none;

  width: 100%;
  border-radius: 3px;
  background: #ecfdf5;

  text-align: center;
  color: #065f46;
  font-size: 1rem;

  line-height: 8px;

  padding-top: 1.5625em; /* 25px */
  padding-bottom: 1.5625em;
  padding-left: 1.875em; /* 30px */
  padding-right: 1.875em;
}

@media (min-width: 480px) {
  .thank-you-message {
    font-size: 1.1rem; /* 1.3 * 16 = 20.8px*/
    line-height: 14px;

    padding-top: 1.92em; /* 40px; */
    padding-bottom: 1.92em;
    padding-left: 2.4em; /* 50px */
    padding-right: 2.4em;
  }
}
